:where(.patient-profile-summary-cards,.patient-profile-footer-cards) > article > span,
:where(.patient-profile-summary-cards,.patient-profile-footer-cards) > article > b{
  grid-column:2;
}
:where(.patient-profile-summary-cards,.patient-profile-footer-cards) > article > span{
  align-self:end;
}
:where(.patient-profile-summary-cards,.patient-profile-footer-cards) > article > b{
  align-self:start;
  font:var(--md-sys-typescale-title-small)!important;
  line-height:1.2!important;
}
