body.scope-global .clinic-menu-item,
body.scope-global .clinic-menu-form button{
  min-height:40px!important;
  border-radius:15px!important;
  background:transparent!important;
  border:0!important;
  box-shadow:none!important;
}
