@media (min-width:761px){
  body.scope-global .global-performance-charts,
  body.scope-global .global-area-charts{
    grid-template-columns:1fr!important;
  }
}
@media (max-width:760px){
  body.scope-global .global-performance-charts,
  body.scope-global .global-area-charts{
    grid-template-columns:1fr!important;
    gap:14px!important;
  }
}





